DB_HOST=db
DB_PORT=5432
DB_USERNAME=dhcpuser
DB_PASSWORD=dhcppass
DB_NAME=dhcpdb

CREDENTIAL_SECRET=demo_credential_secret
JWT_SECRET=demo_jwt_secret
PORT=3001

CSP_API_KEY=demo_csp_api_key
CSP_BASE_URL=https://csp.infoblox.com/api/ddi/v1
